@import 'fonts';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'TT Lakes';

}

//---------------SIDEBAR-----------------------------------

.sidebar {
  width: 320px;
  box-shadow: 21px -15px 56px 15px rgba(14, 24, 80, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-nav {
  display: flex;
  align-items: center;
  gap: 77px;
}

.sidebar-nav_list {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-top: 23px;
  padding-left: 24px;
}

.nav-buttons__sidebar-search-btn {
  margin-top: 23px;
  margin-right: 24px;
}

.nav-buttons__close-btn {
  padding-top: 5px;
}

.nav-buttons__close-btn:hover {
  background-color: #fff;

  border: 1px solid $main-color;
}

.nav-buttons__close-btn:hover svg {
  fill: $main-color;
}

.nav-buttons__close-btn:active svg {
  transform: scale(1.3);
}

.nav-buttons__sidebar-search-btn {
  padding-top: 5px;
}

.nav-buttons__sidebar-search-btn:hover {
  background-color: #fff;
  border: 1px solid $main-color;
}

.nav-buttons__sidebar-search-btn:hover svg {
  fill: $main-color;
}

.nav-buttons__sidebar-search-btn:active svg {
  transform: scale(1.3);
}

.nav-buttons__list-item {
  min-width: 40px;
  min-height: 40px;
  background-color: $main-color;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-buttons__list-item svg {
  transition: all 0.5s;
}

//-----------------------------------------------------

.info-list {
  padding-top: 50px;
  padding-left: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
}

.info-list__item {
  display: flex;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.info-list__item:hover {
  color: #7E7E82;

  transform: translate(20px);
}

.info-list__item:active {
  color: #222;
  text-shadow: -2px -2px 1px rgba(56, 56, 56, 0.4);
}


.info-list__item:hover::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  position: absolute;
  margin-left: -25px;
  border-radius: 50px;
  align-self: center;
}

//----------------------------------------------------

.sidebar-footer {
  padding-top: 286px;
  padding-left: 24px;
}

.sidebar-footer__nav-buttons {
  display: flex;
  gap: 16px;
}

.sidebar-footer__nav-btn {
  display: block;
  padding-top: 5px;
}

.sidebar-footer__nav-btn:hover {
  background-color: #fff;
  border: 1px solid $main-color;
}

.sidebar-footer__nav-btn:hover svg {
  fill: $main-color;
}

.sidebar-footer__nav-btn:active svg {
  transform: scale(1.2);
}

.siderbar-footer__contacts-info--mail {
  padding-top: 16px;
  padding-bottom: 12px;
}

.siderbar-footer__contacts-info--phone {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.siderbar-footer__lang-select--list {
  padding-top: 40px;
  display: flex;
  gap: 7px;
  padding-bottom: 32px;
  list-style-type: none;
}

.siderbar-footer__lang-select--list li {
  transition: all 0.3s;
}

.siderbar-footer__lang-select--list li:hover {
  color: #7E7E82;
  cursor: pointer;
}

.siderbar-footer__lang-select--list li:active {
  color: #222;
  text-shadow: -2px -2px 1px rgba(56, 56, 56, 0.4);
}